/* Theme */

main {
  background: -moz-linear-gradient(45deg, rgba(0,128,128,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0,128,128,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,128,128,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,128,128,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(0,128,128,1) 0%, rgba(0,0,0,1) 100%);
  color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
